<?xml version="1.0" encoding="utf-8"?>
<!--
/*
** Copyright (C) 2022 Project Lighthouse
**
** SPDX-License-Identifier: Apache-2.0
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.lighthouse.overlay">

    <overlay
        android:isStatic="true"
        android:priority="600"
        android:targetPackage="android" />
</manifest>
